*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

*::selection{
    background:rgb(223, 235, 197);
    color:rgb(0, 0, 0); /* COLOR DE LA SELECCION */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background:#f9f9f9; /*Color de fondo de algunas cosas*/
}

section{
    min-height: 100vh;
    padding:0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    height: 40px;
    margin-right: 10px;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:var(--gradient2);/*anteriormente gradient*/
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background: rgb(44, 43, 43);/*anteriormente gradient*/
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}

header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background: var(--gradient2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    color:#eee;
}

header .logo span{
    color:#eee;
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:#f9f9f9; /* COLOR DE LA LETRA*/
}

header .navbar a:hover{
    color:var(--yellow);
    /*color:var(--pink);*/
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color:#f9f9f9;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: auto;
    background: url(images/home-bg-img.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.home .content h3 span{
    color:var(--pink);
    text-transform: uppercase;
}

.home .content p{
    font-size: 1.7rem;
    color:#fff;
    padding:1rem 0;
}
.home .content .column .image{
    flex:1 1 40rem;
}
.home .content .column .image2{
    flex:1 1 40rem;
}
.home .content .column .image img{
    width:40%;
}
.home .content .column .image2 img{
    width:35%;
}
.home .content .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container .box{
    flex:1 1 30rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}
.features .box-container .box img{
    height: 15rem;
}
.features .box-container .box p{
    font-size: 1.3rem;
    color:#666;
    padding: 1rem 0;
}

.about{
    background:url(images/about-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.about .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .column .image{
    flex:1 1 40rem;
}

.about .column .image img{
    width:100%;
}

.about .column .content{
    flex:1 1 40rem;
}
.about .column .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 30px;
}

