<div class="container">
  <div style="text-align: center;">
    <h1> LISTA DE VIAJES</h1>
  </div>
  <app-viajes-buscar></app-viajes-buscar>
<!--Búsqueda en el front/cliente-->
<!--
<mat-form-field>
  <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
</mat-form-field>-->


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idviaje">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.idViaje}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="idvehiculo">
      <th mat-header-cell *matHeaderCellDef> Id Vehiculo </th>
      <td mat-cell *matCellDef="let element"> {{element.vehiculo.placa}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element?.fecha}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="horainicio">
      <th mat-header-cell *matHeaderCellDef> Hora inicio </th>
      <td mat-cell *matCellDef="let element"> {{element?.horainicio}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="horafinal">
      <th mat-header-cell *matHeaderCellDef> Hora fin </th>
      <td mat-cell *matCellDef="let element"> {{element?.horafin}} </td>
    </ng-container>


    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="white"
          [routerLink]="['edicion', element.idViaje]">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="white"  (click)="confirmar(element.idViaje)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="example-button-container">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
      routerLink="/viaje/nuevo">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>

    <!-- BOTONES DE CONSULTAS -->
  <br>
    <section>
      <div class="example-label">Consultas</div>
      <div class="example-button-row">
        <a mat-raised-button href="viaje/buscarfechamayor" target="_blank">Viajes con fecha 2022</a>
      </div>
    </section>
  <br>
  <br>
    <section>
      <div class="example-button-row">
        <a mat-raised-button href="viaje/buscarvehiculo" target="_blank">Cantidad de viajes por vehiculo</a>
      </div>
    </section>
  <br>
  <br>
  <section>
    <div class="example-button-row">
      <a mat-raised-button href="viaje/cantidad" target="_blank">Cantidad de viajes en una fecha</a>
    </div>
  </section>
  <br>


</div>
