<div class="container">

  <h1>Viajes</h1>

  <mat-form-field class="example-full-width">
    <mat-label>idviaje</mat-label>
    <input matInput placeholder="idviaje" [(ngModel)]="viaje.idViaje">
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill" >
    <mat-label>Seleccione Vehiculo</mat-label>
    <mat-select [(value)]="idVehiculoselecionado" required>
        <mat-option *ngFor="let p of listadeVehiculos" [value]="p.id">
            {{p.placa}}
        </mat-option>
    </mat-select>
</mat-form-field>

<br>
<mat-form-field class="example-full-width">
    <mat-label>Fecha</mat-label>
    <input matInput placeholder="Licencia" [(ngModel)]="viaje.fecha">
</mat-form-field>
<br>

  <br>
  <mat-form-field class="example-full-width">
      <mat-label>horainicio</mat-label>
      <input matInput required placeholder="horainicio" [(ngModel)]="viaje.horainicio">

  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
      <mat-label>horafin</mat-label>
      <input type="horafin" matInput required placeholder="horafin" [(ngModel)]="viaje.horafin">
    </mat-form-field>

  <br>
  <button mat-raised-button color="warn" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="accent" routerLink="/viaje">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
