<p>solicitud-listar works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" 
         idsolicitud','precio','duracion','fecha','descripcion','vehiculo','conductor','padredefamilia'-->
         
    <!-- Position Column -->
    <ng-container matColumnDef="idsolicitud">
      <th mat-header-cell *matHeaderCellDef> idsolicitud. </th>
      <td mat-cell *matCellDef="let element"> {{element?.idsolicitud}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> precio </th>
      <td mat-cell *matCellDef="let element"> {{element?.precio}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="duracion">
      <th mat-header-cell *matHeaderCellDef> duracion </th>
      <td mat-cell *matCellDef="let element"> {{element?.duracion}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> fecha </th>
      <td mat-cell *matCellDef="let element"> {{element?.fecha}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element?.descripcion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="vehiculo">
        <th mat-header-cell *matHeaderCellDef> vehiculo </th>
        <td mat-cell *matCellDef="let element"> {{element?.vehiculo.idvehiculo}} </td>
      </ng-container>

      <ng-container matColumnDef="conductor">
        <th mat-header-cell *matHeaderCellDef> conductor </th>
        <td mat-cell *matCellDef="let element"> {{element?.conductor.idconductor}} </td>
      </ng-container>

      <ng-container matColumnDef="padredefamilia">
        <th mat-header-cell *matHeaderCellDef> padredefamilia </th>
        <td mat-cell *matCellDef="let element"> {{element?.padredefamilia.idpadre}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
