<h1 class="title">SAFE PORT</h1>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="padredefamilia">Padres de Familia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="conductor">Conductor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="ubicacion">Ubicacion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="solicitud">Solicitudes</a>
    </li>    
</ul>

<div [hidden]="route.children.length!==0">
    <app-padredefamilia-listar></app-padredefamilia-listar>
</div>