<div class="container">
    <h1>Vehiculo</h1>

    <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput placeholder="idVehiculo" [(ngModel)]="vehiculo.id">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Placa</mat-label>
        <input matInput placeholder="Licencia" [(ngModel)]="vehiculo.placa">
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Año del modelo</mat-label>
        <input matInput placeholder="Licencia" [(ngModel)]="vehiculo.aniomodelo">
    </mat-form-field>
    <br>
    <!--
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Color</mat-label>
        <input matInput placeholder="Licencia" [(ngModel)]="vehiculo.color">
    </mat-form-field>
    -->
    <br> 

    <mat-form-field appearance="fill" >
        <mat-label>Color del vehiculo </mat-label>
        <mat-select [(ngModel)]="vehiculo.color" required>
            <mat-option value="rojo">Rojo</mat-option>
            <mat-option value="negro">Negro</mat-option>
            <mat-option value="blanco">Blanco</mat-option>
            <mat-option value="gris">Gris</mat-option>
            <mat-option value="amarillo">Amarillo</mat-option>
            <mat-option value="marron">Marron</mat-option>
            <mat-option value="azul">Azul</mat-option>
        </mat-select>
    </mat-form-field>    
  
    <br>
    <!--
    <br>

    <mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Licencia" [(ngModel)]="vehiculo.estado">
    </mat-form-field>
    <br>
    -->
    <br> 

    <mat-form-field appearance="fill" >
        <mat-label>Estado del vehiculo </mat-label>
        <mat-select [(ngModel)]="vehiculo.estado" required>
            <mat-option value="nuevo">Nuevo</mat-option>
            <mat-option value="viejo">Viejo</mat-option>
        </mat-select>
    </mat-form-field>    
  
    <br> 
    <mat-form-field class="example-full-width">
        <mat-label>Caracteristica</mat-label>
        <input matInput placeholder="Licencia" [(ngModel)]="vehiculo.caracteristica">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Seleccione Conductor</mat-label>
        <mat-select [(value)]="idConductorSeleccionado" required>
            <mat-option *ngFor="let p of listaConductores" [value]="p.idConductor">
                {{p.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Seleccione Marca</mat-label>
        <mat-select [(value)]="idMarcaSeleccionada" required>
            <mat-option *ngFor="let q of listaMarcas" [value]="q.idMarca">
                {{q.nombremarca}}
            </mat-option>
        </mat-select>
    </mat-form-field>
<br>
<button mat-raised-button color="warn" (click)="aceptar()">Aceptar</button>
<button mat-raised-button color="accent" routerLink="/vehiculo">Cancelar</button>
<br>
