<h1 class="title">SAFE PORT</h1>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="padre">Padres de Familia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="conductor">Conductor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="ubicacion">Ubicacion</a>
    </li>
</ul>

<div>
  <div class="padre">
    <app-padredefamilia></app-padredefamilia>
  </div>

  <div class="conductor">
    <app-conductor></app-conductor>
  </div>

  <div class="ubicacion">
    <app-ubicacion></app-ubicacion>
  </div>
</div>
