<p>padredefamilia-creaedita works!</p>
<div class="container">

    <h1>Propietario</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>idpadre</mat-label>
      <input matInput placeholder="idpadre" [(ngModel)]="padredefamilia.id">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>nombre</mat-label>
      <input matInput required placeholder="nombre" [(ngModel)]="padredefamilia.nombre">
  
    </mat-form-field>
  
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>apellido</mat-label>
        <input matInput required placeholder="name" [(ngModel)]="padredefamilia.apellido">
    
      </mat-form-field>
    
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>edad</mat-label>
        <input matInput required placeholder="edad" [(ngModel)]="padredefamilia.edad">
    
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>email</mat-label>
        <input type="email" matInput required placeholder="email" [(ngModel)]="padredefamilia.email">
      </mat-form-field>
    
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>telefono</mat-label>
        <input matInput required placeholder="telefono" [(ngModel)]="padredefamilia.telefono">
    
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>direccion</mat-label>
        <input matInput required placeholder="direccion" [(ngModel)]="padredefamilia.direccion">
    
    </mat-form-field>
    
    <br>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/padredefamilia">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>
