<p>vehiculo-listar works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="idvehiculo">
        <th mat-header-cell *matHeaderCellDef> idvehiculo </th>
        <td mat-cell *matCellDef="let element"> {{element?.idvehiculo}} </td>
      </ng-container>
    
      <ng-container matColumnDef="aniomodelo">
        <th mat-header-cell *matHeaderCellDef> aniomodelo </th>
        <td mat-cell *matCellDef="let element"> {{element?.aniomodelo}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> placa </th>
        <td mat-cell *matCellDef="let element"> {{element?.placa}} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> color </th>
        <td mat-cell *matCellDef="let element"> {{element?.color}} </td>
      </ng-container>
    
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> estado </th>
        <td mat-cell *matCellDef="let element"> {{element?.estado}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="caracteristica">
        <th mat-header-cell *matHeaderCellDef> caracteristica </th>
        <td mat-cell *matCellDef="let element"> {{element?.caracteristica}} </td>
      </ng-container>

      <ng-container matColumnDef="conductor">
        <th mat-header-cell *matHeaderCellDef> conductor </th>
        <td mat-cell *matCellDef="let element"> {{element?.conductor.idConductor}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

