<p>historialdeviajes-listar works!</p>
<div class="container">
  <div style="text-align: center;">
    <h1> HISTORIAL DE VIAJES</h1>
  </div>
  <app-historialdeviajes-buscar></app-historialdeviajes-buscar>
  <!--
  <mat-form-field>
    <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
  </mat-form-field>-->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="idhistorial">
        <th mat-header-cell *matHeaderCellDef> idhistorial </th>
        <td mat-cell *matCellDef="let element"> {{element?.idHistorial}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef> observaciones </th>
        <td mat-cell *matCellDef="let element"> {{element?.observaciones}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="viajes">
        <th mat-header-cell *matHeaderCellDef> viajes </th>
        <td mat-cell *matCellDef="let element"> {{element?.viaje.fecha}} </td>
      </ng-container>

      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> placa </th>
        <td mat-cell *matCellDef="let element"> {{element?.viaje.vehiculo.placa}} </td>
      </ng-container>
    
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-mini-fab color="white"
            [routerLink]="['edicion', element.idHistorial]">
              <mat-icon>edit</mat-icon> 
          </button>
          <button mat-mini-fab color="white"  (click)="confirmar(element.idHistorial)">
            <mat-icon>delete</mat-icon>
          </button>   
        </td>   
      </ng-container> 

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="example-button-container">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
      routerLink="/historialviaje/nuevo">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>
</div>